* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.qr-component * {
  border-radius: 15px;
}

.qr-component {
  background-color: whitesmoke;
}

body {
  background-color: lightblue;
}
